@model ShareCare.Model.Models.ConfirmSolicitationModel

@{
    ViewData["Title"] = "ConfirmSolicitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h4 {
        top: 99px;
        left: 415px;
        width: 440px;
        height: 35px;
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal bold 25px/38px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    h5 {
        top: 139px;
        left: 415px;
        width: 800px;
        height: 28px;
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal normal 20px/30px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    th {
        top: 221px;
        left: 525px;
        width: 43px;
        height: 20px;
        text-align: left;
        font: normal normal bold 14px/21px Poppins;
        letter-spacing: 0px;
        color: #3D3D3D;
        opacity: 1;
    }

    tr {
        top: 251px;
        left: 440px;
        width: 771px;
        height: 121px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
</style>

<div class="col-md-12">
    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <h4 style="color: white; top: 99px;">Meu calendário de atendimentos:</h4>
            <h5 style="color:white; top:139px;">Aqui você controla toda a sua rotina de cuidados com seus pacientes</h5>
        </div>
    </div>
    <div class="col">
        <div class="au-card">
            <div class="row row-cols-1">
                <div class="col-1" style="align-content:center">
                    <button type="button" class="btn btn-outline-secondary"><</button>
                    <button type="button" class="btn btn-outline-secondary">></button>
                </div>
                <div class="col-1" style="align-content:center">
                    <button type="button" class="btn btn-outline-secondary">Hoje</button>
                </div>
                <div class="col-7" style="text-align: center;">
                    <p style="color:black; text-align: center; font-size:larger">Sábado - 5 de Setembro, 2020</p>
                </div>
                <div class="col-3" style="align-content:center">
                    <button type="button" class="btn btn-outline-secondary" style="color:#F46A79">Mês</button>
                    <button type="button" class="btn btn-outline-secondary" style="color:#F46A79">Semana</button>
                    <button type="button" class="btn btn-outline-secondary">Dia</button>
                </div>
            </div>
            <br />
            <h4 style="color:black;">Ficha de consulta</h4>
            <br />
            <div class="au-card">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Nome</option>
                                <option value="">juliane@gmail.com</option>
                                <option value="">a_bittencourt86@gmail.com</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Email</option>
                                <option value="">juliane@gmail.com</option>
                                <option value="">a_bittencourt86@gmail.com</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Consulta</option>
                                <option value="">Cardiologia</option>
                                <option value="">Pediatria</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Horários</option>
                                <option value="">06/09/2020</option>
                                <option value="">07/09/2020</option>
                                <option value="">08/09/2020</option>
                                <option value="">09/09/2020</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <table class="table table-data2">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="image img-40">
                                            <img src="~/img/icon/Juliane.jpg" />
                                        </div>
                                    </td>
                                    <td class="desc" style="color:black">
                                        @Html.DisplayFor(model => model.PatientName)
                                    </td>
                                    <td class="desc" style="color:black">
                                        juliane@goncalves.com.br
                                    </td>
                                    <td class="desc" style="color:black">
                                        @Html.DisplayFor(model => model.Specialty)
                                    </td>
                                    <td class="desc">
                                        @Html.ActionLink("", "Details", new { }, new { @style = "margin:10px; color: #1CA5B8;top: 299px;left: 1087px;width: 32px;height: 24px;", @class = "fas fa-chart-bar fa-2x" })
                                        @Html.ActionLink("", "Historic", new { }, new { @style = "margin:10px; color: #1CA5B8;top: 443px;left: 1136px;width: 21px;height: 24px;", @class = "fas fa-chart-bar fa-2x" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <br />
                <h6>@Html.DisplayNameFor(model => model.Description)</h6>
                <br />
                <div class="card">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <br />
                        <h6 class="desc" style="text-align:center;font-size:larger">
                            Endereço da consulta
                        </h6>
                        <br />
                        <h6 class="desc" style="text-align:center; color:#F46A79;font-size:larger">
                            https://meet.com/dra.marcela.guimarães
                        </h6>
                        <br />
                        <h6 class="desc" style="text-align:center">
                            <button type="button" class="btn btn-outline-secondary" style="align-content:center">Copiar</button>
                        </h6>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div>
        <h4>ConfirmSolicitationModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PatientName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PatientName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Specialty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Specialty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DayOfWeek)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TypeSolicitation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeSolicitation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
