@model Tuple<IEnumerable<DetailSchedulerModel>, IEnumerable<DiaryModel>>

@{
    ViewData["Title"] = "Home Page";
    var order = Model.Item1.OrderBy(x => x.DateStart);
    var diaryOrder = Model.Item2.OrderBy(x => x.DataAnnotation);
}

<div class="col">
    <div class="au-card">
        <div id="calendar"></div>
    </div>
</div>
<link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />
<script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/vendor/jquery-3.2.1.min.js"></script>
<script src="~/vendor/fullcalendar-3.10.0/lib/moment.min.js"></script>
<script src="~/vendor/fullcalendar-3.10.0/fullcalendar.js"></script>

<script>
    var events = [];
    var annotations = [];
</script>


@foreach (var item in order)
{
    <script type="text/javascript">

    var event =
    {
        title: '@item.Specialty.ToSentenceCase() - @item.SimpleName',
        start: '@item.DateStart.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'FFF'Z'")',
        allDay: false,
        url: '/Scheduler/DetailScheduler?schedulerId=@item.Id',
        color: '#FF404F',
    };
    events.push(event);
    </script>
}

@foreach (var item in diaryOrder)
{
<script type="text/javascript">

    var annotation =
    {
        title: '@item.Value',
        start: '@item.DataAnnotation.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'FFF'Z'")',
        allDay: false,
        url: '#',
    };

    annotations.push(annotation);
</script>
}


<script type="text/javascript">
    $(function () {
     
        // setup a few events
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            events: events.concat(annotations),
            monthNames: ['Janeiro', 'Fevereiro', 'Marco', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            buttonText: {
                prev: "<",
                next: ">",
                today: "Hoje",
                month: "Mês",
                week: "Semana",
                day: "Dia"
            },
            dayClick: function (date) {

                var yesyeye = Date.parse(date)
                console.log(yesyeye);


                var url = '/Diary/Create?dateTime='.concat(date.toDate());

                window.location = url;
               
                return false;
            },
            

            //dayClick: function (event) {
            //    console.log(event.day.)

            //    //if (event.da) {
            //    //    
            //    //    return false;
            //    //}
            //},
            
            //dayClick: function () {
            //    $("#teste").modal();
            //    $('.modal-backdrop').remove();
            //}
        });
    });
</script>
