@{
    string email = Context.GetEmail();
    string name = Context.GetName();
    string role = Context.GetFullName();
    string image = $"{name}.jpg";
    var doctor = PersonType.Doctor.ToString();
    bool isDoctor = Context.GetRole().Equals(doctor);
    var welcome = isDoctor ? $"Olá Dra {name},\n Como estão seus pacientes?" : $"Olá {name},\n Como se sente hoje?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - share&Care</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!--  FullCalendar-->
    <link href='~/vendor/fullcalendar-3.10.0/fullcalendar.css' rel='stylesheet' media="all" />

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/img/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                              @welcome
                            </a>
                        </li>

                        <li>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-calendar-alt"></i>Agenda
                            </a>
                        </li>

                        @if (isDoctor)
                        {
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="PatientGuide" asp-action="Index">
                                    <i class="fas fa-chart-bar"></i>Guia de Pacientes
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="MedicalGuide" asp-action="Index">
                                    <i class="fas fa-chart-bar"></i>Guia médico
                                </a>
                            </li>
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="MedicalHistory" asp-action="History">
                                    <i class="fas fa-table"></i>Histórico
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/img/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                @welcome
                            </a>
                        </li>
                        <li>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-calendar-alt"></i>Agenda
                            </a>
                        </li>

                        @if (isDoctor)
                        {
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="PatientGuide" asp-action="Index">
                                    <i class="fas fa-chart-bar"></i>Guia de Pacientes
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="MedicalGuide" asp-action="Index">
                                    <i class="fas fa-chart-bar"></i>Guia médico
                                </a>
                            </li>
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="MedicalHistory" asp-action="History">
                                    <i class="fas fa-table"></i>Histórico
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-wrapper">
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">
                                <form class="form-header" action="" method="POST">
                                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Pesquise por tipo de processo ou número de tela" />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                                <div class="header-button">
                                    <div class="noti-wrap">
                                        <div class="noti__item js-item-menu">
                                            <i class="zmdi zmdi-comment-more"></i>
                                            <span class="quantity">1</span>
                                            <div class="mess-dropdown js-dropdown">
                                                <div class="mess__title">
                                                    <p>You have 2 news message</p>
                                                </div>
                                                <div class="mess__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/img/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                    </div>
                                                    <div class="content">
                                                        <h6>Michelle Moreno</h6>
                                                        <p>Have sent a photo</p>
                                                        <span class="time">3 min ago</span>
                                                    </div>
                                                </div>
                                                <div class="mess__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/img/icon/avatar-04.jpg" alt="Diane Myers" />
                                                    </div>
                                                    <div class="content">
                                                        <h6>Diane Myers</h6>
                                                        <p>You are now connected on message</p>
                                                        <span class="time">Yesterday</span>
                                                    </div>
                                                </div>
                                                <div class="mess__footer">
                                                    <a href="#">View all messages</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noti__item js-item-menu">
                                            <i class="zmdi zmdi-email"></i>
                                            <span class="quantity">1</span>
                                            <div class="email-dropdown js-dropdown">
                                                <div class="email__title">
                                                    <p>You have 3 New Emails</p>
                                                </div>
                                                <div class="email__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/img/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                    </div>
                                                    <div class="content">
                                                        <p>Meeting about new dashboard...</p>
                                                        <span>Cynthia Harvey, 3 min ago</span>
                                                    </div>
                                                </div>
                                                <div class="email__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/img/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                    </div>
                                                    <div class="content">
                                                        <p>Meeting about new dashboard...</p>
                                                        <span>Cynthia Harvey, Yesterday</span>
                                                    </div>
                                                </div>
                                                <div class="email__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/img/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                    </div>
                                                    <div class="content">
                                                        <p>Meeting about new dashboard...</p>
                                                        <span>Cynthia Harvey, April 12,,2018</span>
                                                    </div>
                                                </div>
                                                <div class="email__footer">
                                                    <a href="#">See all emails</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noti__item js-item-menu">
                                            <i class="zmdi zmdi-notifications"></i>
                                            <span class="quantity">3</span>
                                            <div class="notifi-dropdown js-dropdown">
                                                <div class="notifi__title">
                                                    <p>You have 3 Notifications</p>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c1 img-cir img-40">
                                                        <i class="zmdi zmdi-email-open"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>You got a email notification</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c2 img-cir img-40">
                                                        <i class="zmdi zmdi-account-box"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>Your account has been blocked</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c3 img-cir img-40">
                                                        <i class="zmdi zmdi-file-text"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>You got a new file</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__footer">
                                                    <a href="#">All notifications</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="image">
                                                <img src="~/img/icon/@image" alt="@name" />
                                            </div>
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">@name</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="~/img/icon/@image" alt="@name" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#"> @role</a>
                                                        </h5>
                                                        <span class="email">@email</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__body">
                                                    <div class="account-dropdown__item">
                                                        <a href="#">
                                                            <i class="zmdi zmdi-account"></i>Conta
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__footer">
                                                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Logout">
                                                        <i class="zmdi zmdi-power"></i>Logout
                                                        @Html.AntiForgeryToken()
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- HEADER DESKTOP-->
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                @RenderBody()

                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MAIN CONTENT-->
            </div>
        </div>

        <!-- END PAGE CONTAINER-->
    </div>
    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js">
    </script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/fullcalendar-3.10.0/lib/moment.min.js"></script>
    <script src="~/vendor/fullcalendar-3.10.0/fullcalendar.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="https://plugin.handtalk.me/web/latest/handtalk.min.js"></script>
    <script>
        var ht = new HT({
            token: "c7ef6ef76b6650078ee78509e146bffb"
        });
    </script>

    <script>(function () { var s = document.createElement('script'), e = !document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/assets/js/acsb.js'; s.async = s.defer = true; s.onload = function () { acsbJS.init({ statementLink: '', feedbackLink: '', footerHtml: '', hideMobile: false, hideTrigger: false, language: 'en', position: 'right', leadColor: '#146FF8', triggerColor: '#146FF8', triggerRadius: '50%', triggerPositionX: 'right', triggerPositionY: 'bottom', triggerIcon: 'default', triggerSize: 'medium', triggerOffsetX: 20, triggerOffsetY: 20, mobile: { triggerSize: 'small', triggerPositionX: 'right', triggerPositionY: 'center', triggerOffsetX: 0, triggerOffsetY: 0, triggerRadius: '50%' } }); }; e.appendChild(s); }());</script>

</body>
</html>
